<h1>Alta computadoras 💻</h1>

<div class="form-container">
    <div class="form-row mt-4">
        <p><label for="marca">Marca computadora:</label></p>
        <input [(ngModel)]="nuevaComputadora.marca" id="marca" type="text" class="form-control">
    </div>

    <div class="form-row mt-4">
        <p><label for="modelo">Modelo computadora:</label></p>
        <input [(ngModel)]="nuevaComputadora.modelo" id="modelo" type="text" class="form-control">
    </div>

    <div class="form-row mt-4">
        <p><label for="anio">Año computadora:</label></p>
        <input [(ngModel)]="nuevaComputadora.anio" id="anio" type="text" class="form-control">
    </div>

    <div class="form-row mt-4">
        <p><label for="tipo-cliente">Selecciona el tipo de computadora:</label></p>
        <select [(ngModel)]="nuevaComputadora.tipoComputadora" id="tipo-cliente" class="form-control">
            <option *ngFor="let tipo of tipoComputadoras" value="{{ tipo.id }}">
                {{ tipo.descripcion }}
            </option>
        </select>
    </div>
    
    <div class="mt-4 d-flex gap-3">
        <button (click)="registrarNuevaComputadora()" class="btn btn-dark">Registrar computadora</button>
        <a href="/home" class="btn btn-warning">Volver</a>
    </div>
</div>